/*==================================
Theme Color All Codes Variable
==================================*/
:root {
	 --theme-general-color: #6d7175;  /* theme gray color */
}
:root {
	 --theme-primary-color: #24bd7e;  /* theme primary color */
}
:root {
	 --theme-secondary-color: #2a364e;  /* theme secondary color */
}
:root {
	 --theme-white-color: #fff;  /* theme white font color */
}
:root {
	 --theme-light-color: #f3f9f5;  /* theme light gray color */
}
:root {
	 --theme-gray-color: #efefef;  /* theme gray color */
}
:root {
	 --theme-text-gray: #c3c3c3; /* theme text gray color */
}
:root {
	 --theme-dark-color: #0f1011;  /* theme dark color ok*/
}
:root {
	 --theme-footer-color: #1e2124;  /* theme dark color ok*/
}
:root {
	 --theme-primary-opacity-color: rgba(69, 195, 206, .8);  /* theme secondary color */
}
:root {
	 --theme-secondary-opacity-color: rgba(37, 40, 43, .8);  /* theme secondary color */
}
:root {
	 --theme-white-opacity-color: rgba(255, 255, 255, 0.5);  /* theme light color */
}
:root {
	 --text-light-color: #a5a5a5;  /* text light color */
}

/*==================================
Font Variable
==================================*/
:root {
	 --theme-general-font: 'Muli', sans-serif; /* Font use for normal text and general text */
}
:root {
	 --theme-hiperlink-font: 'Muli', sans-serif; /* Font use for normal text and general text */
}
:root {
	 --theme-highlight-font: 'Rajdhani', sans-serif;  /* Font used in title or special area */
}

.navbar-expand-lg .navbar-nav .nav-link  {
	font-size: 15px;
}

.simple-video-play a {
	background-color: var(--theme-white-opacity-color)
}

body {
	font-size: 15px
}

.btn {
	border-radius: 0;
	font-weight: 500
}
.tagline {
	font-weight: 500;
	font-size: 16px
}

.footer-widget {
	font-size: 14px
}

.btn,
.btn-link {
	font-weight: 400
}
.sub-title,
.dropdown-item,
.navbar-expand-lg .navbar-nav .nav-link {
	font-weight: 400
}

.sub-title {
	font-size: 18px;
	font-weight: 500
}

.dropdown-item {
	font-size: 14px;
}

h1, .h1{
	font-size: 40px;
}
h2, .h2{
	font-size: 34px;
}
h3, .h3{
	font-size: 26px;
	line-height: 1.3;
}
h4, .h4{
	font-size: 21px;
}
h5, .h5 {
	font-size: 18px;
	line-height: 1.5
}
h6, .h6 {
	font-size: 16px;
	line-height: 28px
}

h1, h2, h3, 
.h1, .h2, .h3,
h1 a, h2 a, h3 a,
.h1 a, .h2 a, .h3 a {
	font-weight: 700
}

h4, h5, h6, 
.h4, .h5, .h6,
h4 a, h5 a, h6 a, 
.h4 a, .h5 a, .h6 a {
	font-weight: 700
}