/*==================================
Theme Color All Codes Variable
==================================*/
:root {
	 --theme-general-color: #8c8e90;  /* theme general font color */
}
:root {
	 --theme-primary-color: #d4b750;  /* theme primary color */
}
:root {
	 --theme-secondary-color: #181b24;  /* theme secondary color */
}
:root {
	 --theme-white-color: #fff;  /* theme white font color */
}
:root {
	 --theme-light-color: #1e212a;  /* theme light gray color */
}
:root {
	 --theme-gray-color: #eef1ff;  /* theme gray color */
}
:root {
	 --theme-footer-color: #181b24;  /* theme dark color ok */
}
:root {
	 --theme-dark-color: #12141c;  /* theme dark color ok */
}
:root {
	 --theme-extra-color: #e3eff9;  /* theme extra color */
}
:root {
	 --text-light-color: #76787e;  /* Light text color to use in dark area */
}
:root {
	 --theme-primary-opacity-color: rgba(212, 183, 80, .8);  /* theme secondary color */
}
:root {
	 --theme-secondary-opacity-color: rgba(24, 27, 36, .7);  /* theme secondary color */
}
:root {
	 --theme-dark-opacity-color: rgba(16, 37, 102, .7);  /* theme Dark color */
}
:root {
	 --theme-white-opacity-color: rgba(255, 255, 255, 0.5);  /* theme light color */
}
:root {
	 --theme-border-color: #43444e; /* theme border color */
}

/*==================================
Font Variable
==================================*/
:root {
	 --theme-general-font: 'Open Sans', sans-serif; /* Font use for normal text and general text */
}
:root {
	 --theme-hiperlink-font: 'Open Sans', sans-serif; /* Font use for normal text and general text */
}
:root {
	 --theme-highlight-font: 'Merriweather', serif;  /* Font used in title or special area */
}

.navbar-expand-lg .navbar-nav .nav-link {
	font-size: 15px;
	font-weight: 500
}
.top-header {
    font-size: 14px;
}
body {
	font-size: 15px;
	background-color: #181b24;
	color: #d2d3d6
}
.sub-title {
	font-size: 15px;
	font-weight: 400
}
.btn-primary {
	color: var(--theme-secondary-color)
}
.btn-link,
.btn {
	font-weight: 500;
	font-size: 15px;
	border-radius: 0
}
.form-control {
	border-radius: 0
}
.rounded-lg {
	border-radius: 20px !important
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
.h1 a, .h2 a, .h3 a, .h4 a, .h5 a, .h6 a,
.footer-widget li a {
	color: var(--theme-white-color);
}
.time-count li span{
	color: var(--theme-dark-color);
	font-weight: 500;
	font-size: 13px;
	width: 45px;
	height: 45px;
	line-height: 45px;
	border-radius: 100%;
	background-color: var(--theme-primary-color);
	display: block
}
.divider-col-3 > div {
	border-color: #eaeff5
}
.border-bottom {
    border-bottom: 1px solid #43444e!important;
}
.woocommerce-product .product-img {
	background-color: #fff
}
